<div class="leftPanel">
        @* DXCOMMENT: Configure the left panel's menu *@
    @Html.DevExpress().NavBar(settings => {
    settings.Name = "LeftNavBar";
    settings.AutoCollapse = true;
    settings.EnableAnimation = true;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.ControlStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.ControlStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.Groups.Add(group => {
        group.Text = "จัดการผู้ใช้งาน";
        group.Items.Add("ค้นหาประวัติผู้ใช้งาน", "", "", "~/Home/SearchUserProfile");
        group.Items.Add("บันทึกข้อมูลผู้ใช้งาน", "", "", "~/Home/AddUserProfile");
        group.Items.Add("อัพเดทเลขมิสเตอร์", "", "", "~/Home/MisterDataEdit");
        group.Items.Add("ข้อมูลการขอใช้บริการ", "", "", "~/Home/Information");
    });
    settings.Groups.Add(group => {
        group.Text = "เก็บข้อมูลน้ำประปา";
        group.Items.Add("สร้างงวดการออกใบแจ้งหนี้", "", "", "~/Water_usage/Createinvoiceperiods");
        group.Items.Add("เก็บข้อมูลน้ำประปา", "", "", "~/Water_usage/Water_usage");
        
    });
}).GetHtml()
</div>

